<div class="container-fluid" id="header">
  <div class="row col-4-8">
    <div class="col-4">
      <img src="assets/logo-loja-games.png" width="95%" >
    </div>
    <div class="col-8">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-addon">
      <button class="fa fa-search" style="background:transparent;border:none"></button>
      </span>
    </div>
    </div>
  </div>
</div>
  