<button mat-button [matMenuTriggerFor] ="aboveMenu">HOME</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">JOGOS</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Playstation</button>
  <button mat-menu-item>Xbox</button>
  <button mat-menu-item>Nintendo</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">GALERIA</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Videogames</button>
  <button mat-menu-item>Acessórios</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">LOGIN</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
</mat-menu>

