<section id="footer">
    <div class="container footer-row">
        <hr style="width: 100%;">
        <div class="footer-links">

            <div class="link-title">
                <h4>Institucional</h4>
                <small>Fale Conosco</small><br>
                <small>Política de Privacidade</small><br>
                <small>Política de Troca</small><br>
                <small>Perguntas Frequentes</small><br>
                <small>Sobre Nós</small>
            </div>

            <div class="link-title">
                <h4>Formas de Pagamento</h4>
                <small>Cartões de Crédito</small><br>
                <small>(Visa, MasterCard, Elo e American Express)e boleto bancário</small>
            </div>

            <div class="link-title">
                <h4>Atendimento</h4>
                <small>(xx) xxxxx-xxxx</small><br>
                <small>(xx) xxxxx-xxxx</small><br>
                <small>E-mail: web@gamestationshop.com.br</small>
                <h4>Horário de Atendimento</h4>
                <small>Seg a Sex de 08h às 18h</small><br>
                <small>Sábado de 08h às 14h</small><br>
                <button class="common-btn">FALE CONOSCO</button>
            </div>
            
        
            <div class="copyright-text">
                <small>Loja Game Station - CNPJ: 12.345.678/9012-34</small><br>
                <small>© Todos os direitos reservados. 2021</small>
            </div>
        </div>
    </div>
</section>
